# Database connection URL
# Default SQLite local zero-config database:
DATABASE_URL="file:./dev.db"

# To switch to PostgreSQL:
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/medicash_db?schema=public"

# Session JWT Secret
JWT_SECRET="medicash-super-secret-key-medical-store-2026-production"
