# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/
/build

# Database
prisma/*.db
prisma/*.db-journal
*.db
*.db-journal

# Environment files
.env
.env*.local
!.env.example

# Debug and system logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Cloudflare Credentials & Binaries
cloudflared.exe
tunnel-credentials.json
*.pem
.wrangler/
.open-next/

# TypeScript
*.tsbuildinfo
next-env.d.ts
